body {
  background-color: #D9D3C1;
}

header {

  text-align: center;
  font-family: Verdana;
  color: #efeaea;
  font-size: 30px;
  font-style: italic;
  display: flex;
  align-items: center; 
  cursor: pointer;
 
  &:hover {
    /* Cambia color del texto al pasar el mouse */
    color: #8AA68E ;
  }
}

.header-seccion1 {
  width: 100%;
  height: 150px;
  background-color: #4C7364;
  border-style: solid;
  border-width: 1px;
  border-color: #24473E ;

}
.header-seccion2-small, .header-seccion2 {
  height: 150px;
  display: flex;
  align-items: center; /* Alinea verticalmente el contenido*/
  color: #f4f4f4;
  background-color: #4C7364;
  border-style: solid;
  border-width: 1px;
  border-color: #24473E ;
  padding: 10px; 
  margin: 10px;
  &:hover {
    /* Cambia color del texto al pasar el mouse */
    color: #8AA68E ;
  }

}

.header-seccion2-small {
  width: 20%;
  font-size: 30px;
}

.header-seccion2 {
  width: 58%;
  font-size: 20px;
  justify-content: space-around; 
}


nav {

  background-color: #9E8A73   ;
  font-family: Georgia;
  color: #f4f4f4;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  margin-top: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #A6A194 ;

}
nav.secciones-nav {
  width: 100%;
  height: 80px;
  background-color: #9E8A73   ;
  font-family: Georgia;
  color: #f4f4f4;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;

}

nav.nav-index {
  width: 100%;
  height: 150px;
}

.status-index {
  height: 100px;
  width: 100px;
  border: 1px solid #ccc;
  background-color: #F2F2F2;
  opacity: 3;
  background: linear-gradient(135deg, #8AA68E 25%, transparent 25%) -19px ;
  display: flex;
  justify-content:space-around;
  align-items: center;
  text-align: center;
  font-family: system-ui;
  color:#F2F2F2; ;
  font-size: 20px;
  max-width: 300px;
  flex-grow: 1;
  margin-right: 20px;
}

.status:hover {
  transform: scale(0.9);
  box-shadow: 0 0 30px #8AA68E ;
}

#container-index div {
  width: 100%;
  max-width:700px;
  height: 150%;
  margin-right:300px;
  margin-top: 30px;

}

#container-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px; 
 
}

article.main-content {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px; 
  margin-top: 10px;
}

.flex-container-seccion1  {
  width: 48%;
  height: 498px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-width: 3px;
  border-color: #D9D3B2; ;
  
}

#container-video {
  width: 100%;
  height: 900px;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
#container-video iframe {
  max-width: 600px; /* Ajusta el ancho máximo de las imágenes al contenedor */
  width: 600px;
  height: 400px;
  margin: 20px;
  
}

#container img {
  max-width: 100%; /* Ajusta el ancho máximo de las imágenes al contenedor */
}



.aside {

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
 
}



.flexbox-item1, .flexbox-item2 {
  height: 68%;
  width: 248px;
  flex-direction: column;
  font-size: 10px;
  color: #f4f4f4;
  background-image: linear-gradient(120deg, #8AA68E , #4C7364 );

}

.flexbox-item3 {
  color: #f4f4f4;
  background-color: #4C7364;
  width: 28%;
  height: 496px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around; /* Espacio horizontal alrededor */
}

.flexbox-item1, .flexbox-item2, .flexbox-item3 {

  display: flex;
  align-items: center; /* Alinea verticalmente el contenido*/
  padding: 10px; 
  margin: 10px;

}


li a{
  color: #f4f4f4;
}



.grupo_parrafo1 {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: #f4f4f4;
  text-align: center;
}

.grupo_parrafo2 {
  font-family: cursive;
  font-size: 11px;
  font-weight: 300;
  color: rgb(232, 227, 227);
  text-align: right;
}

footer {
  width: 100%;
  height: 200px;
  padding: 5px;
  font-size: 20px;
  color: #f4f4f4;
  margin-top: 10px;
  font-family: Lucida Sans;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

footer.main {
  background-image: linear-gradient(120deg, #8AA68E , #4C7364 );
  border-style: solid;
  border-width: 1px;
  border-color: #24473E ;
}

.footer-image{
  max-width: 100px;
  height: auto;
}


.footer-text-seccion1 {
  height: 100px;
  width: 32%;
  font-size: 20px;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content:center;
  background-image: linear-gradient(120deg, #8AA68E , #4C7364 );
  border-style: solid;
  border-width: 1px;
  border-color: #24473E ;
}

.footer-image-seccion1 {
  max-width: 100px;
  height: auto;
  justify-content: center;
  align-self: center;
  background-image: linear-gradient(120deg, #8AA68E , #4C7364 );
  border-style: solid;
  border-width: 1px;
  border-color: #24473E ;
}

.footer-text-seccion2 {
  height: 100px;
  width: 24%;
  font-size: 20px;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content:center;
  background-image: linear-gradient(120deg, #8AA68E , #4C7364 );
  border-style: solid;
  border-width: 1px;
  border-color: #24473E ;
}



h5 {
  margin: 7px;
  align-self: center;
}
a {
  text-decoration: none;
}







