body {
  background-color: #D9D3C1;
}

header {

  text-align: center;
  font-family: Verdana;
  color: #efeaea;
  font-size: 30px;
  font-style: italic;
  display: flex;
  align-items: center; 
  cursor: pointer;
 
  &:hover {
    /* Cambia color del texto al pasar el mouse */
    color: #8AA68E ;
  }
}

.header-seccion1 {
  width: 100%;
  height: 150px;
  background-color: #4C7364;

}
.header-seccion2-small, .header-seccion2 {
  height: 150px;
  display: flex;
  align-items: center; /* Alinea verticalmente el contenido*/
  color: #f4f4f4;
  background-color: #4C7364;
  padding: 10px; 
  margin: 10px;
}

.header-seccion2-small {
  width: 20%;
  font-size: 10px;
  justify-content: space-around; /* Espacio horizontal alrededor */
}

.header-seccion2 {
  width: 58%;
  font-size: 10px;
  justify-content: space-around; 
}


nav {
  width: 100%;
  height: 80px;
  background-color: #9E8A73   ;
  font-family: Georgia;
  color: #f4f4f4;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;

}


article.main-content {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.flex-container-seccion1 {
  width: 48%;
  height: 498px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(120deg, #8AA68E , #4C7364 );
  padding: 10px; 
  margin-top: 10px;
}

#container {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

#container img {
  max-width: 100%; /* Ajusta el ancho máximo de las imágenes al contenedor */
}



aside {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}
aside.complementary-content {

  background-color: #C2A78F;
  border-style: solid;
  border-width: 1px;
  border-color: #8AA68E ;
  padding: 5px;
}

.flex-container-seccion2, .flex-container-seccion2-big {
  display: flex;
  align-items: center; /* Alinea verticalmente el contenido*/
  color: #f4f4f4;
  background-image: linear-gradient(120deg, #8AA68E , #4C7364 );
  padding: 10px; 
  margin: 10px;
}

.flex-container-seccion2 {
  width: 68%;
  height: 248px;
  
  justify-content: space-around; /* Espacio horizontal alrededor */
  flex-direction: column; /* Los flexbox quedan a la izquierda dentro del flex grande y en columnas */
}

.flex-container-seccion2-big {
  width: 28%;
  font-size: 496px;
  font-size: 10px;
  justify-content: space-around; 
  align-self: flex-end; /* Alinea el flex-container-seccion2-big a la derecha */
}


li a{
  color: #f4f4f4;
}



.grupo_parrafo1 {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: #f4f4f4;
  text-align: center;
}

.grupo_parrafo2 {
  font-family: cursive;
  font-size: 11px;
  font-weight: 300;
  color: rgb(232, 227, 227);
  text-align: right;
}

footer {
  width: 100%;
  height: 200px;
  padding: 5px;
  font-size: 20px;
  color: #f4f4f4;
  margin-top: 10px;
  font-family: Lucida Sans;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

footer.main {
  background-image: linear-gradient(120deg, #8AA68E , #4C7364 );
}

.footer-image{
  max-width: 100px;
  height: auto;
}


.footer-text-seccion1 {
  height: 100px;
  width: 32%;
  font-size: 20px;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content:center;
  background-image: linear-gradient(120deg, #8AA68E , #4C7364 );
}

.footer-image-seccion1 {
  max-width: 100px;
  height: auto;
  justify-content: center;
  align-self: center;
  background-image: linear-gradient(120deg, #8AA68E , #4C7364 );
}

.footer-text-seccion2 {
  height: 100px;
  width: 24%;
  font-size: 20px;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content:center;
  background-image: linear-gradient(120deg, #8AA68E , #4C7364 );
}



h5 {
  margin: 7px;
  align-self: center;
}
a {
  text-decoration: none;
}



